{% extends "base.html" %}
{% block m1 %}
<h1 align="center" class="mt-5 pt-5 fw-bold">About US</h1>

<div class="container  text-center justify-content-center mt-5 bg-light w-50 rounded-3 shadow p-4">

    <p>
        Welcome to Students Fee Management System — your trusted solution<br>
        for managing student fees in a simple,  secure, and efficient way.<br>
        Our system is designed to help schools, colleges and coaching institutes<br>
        streamline the process of collecting, tracking, and managing student<br>
        payments. Whether you are an administrator, accountant, or teacher, our<br>
        platform offers an easy-to-use interface to handle fee records, generate receipts,<br>
        and send reminders to students or parents.
    </p>
</div>
{% endblock %}

