
{% if k=="l" %}
    {% extends 'AccountantDash.html' %}
    {% block m3 %}
    <div class="container mt-5">
    <h1 align="center">Change Password</h1>
    <p style="margin-left:380px;"><a href="accountant_home"><i class="bi bi-arrow-left  fs-3"></i> </a> </p>
        <div class="row  justify-content-center">
            <div class="col-md-4">
    <form  method="post"  action="change_password">
        <div class="mb-3">
            <label class="form-label" for="old">Old Password</label>
            <input type="password"   class="form-control"  name="T1" placeholder="Old Password">
        </div>
        <div class="mb-3">
            <label class="form-label" for="new">New Password</label>
            <input type="password" id="txt1" class="form-control"  name="T2" placeholder="New Password">
        </div>
        <div class="mb-3">
            <label class="form-label" for="password">Confirm Password</label>
            <input type="password" id="txt2" class="form-control"  name="T3" placeholder="Confirm Password">
        </div>
        <input type="submit" onclick="A()" class="btn btn-block  btn-primary" value="Change Password">
                <p>{{msg}}</p>

    </form>
            </div>
        </div>
    </div>

    </div>
<script>
    function A(){
            var t1=document.getElementById('txt1');
            var t2=document.getElementById('txt2');
            var v1=t1.value;
            var v2=t2.value;
            if (v1!=v2)
            {
                alert("Passwords do not match!");
            }
    }
</script>
    {% endblock %}
{% elif k=="k" %}
    {% extends 'AdminDash.html' %}
    {% block m2 %}
    <div class="container mt-5">
    <h1 align="center">Change Password</h1>
    <p style="margin-left:380px;"><a href="admin_home"><i class="bi bi-arrow-left  fs-3"></i> </a> </p>
        <div class="row  justify-content-center">
            <div class="col-md-4">
    <form  method="post" action="change_password">
        <div class="mb-3">
            <label class="form-label" for="old">Old Password</label>
            <input type="password" class="form-control"  name="T1" placeholder="Old Password">
        </div>
        <div class="mb-3">
            <label class="form-label" for="new">New Password</label>
            <input type="password" class="form-control"  name="T2" placeholder="New Password">
        </div>
        <div class="mb-3">
            <label class="form-label" for="password">Confirm Password</label>
            <input type="password" class="form-control"  name="T3" placeholder="Confirm Password">
        </div>
        <input type="submit" class="btn btn-block btn-primary" value="Change Password">
    </form>
                <p>{{msg}}</p>
            </div>
        </div>
    </div>

    </div>
    {% endblock %}
{% endif %}

