{% extends "base.html" %}
{% block m1 %}
<style>
.nm1
    {
        background-color:yellow;
        transition:all 0.2s ease-in;
    }
    .nm1:hover
    {
       background-color: pink;
    }
    .nm2
    {
         background-color:skyblue;

    }
    .nm2:hover
    {
       background-color:orange;
        transition:all 0.2s ease-in;
    }
    .nm3
    {
          background-color:lightgreen;

    }
    .nm3:hover
    {
       background-color:teal;
        transition:all 0.2s ease-in;
    }
    .klm
    {
        position:absolute;
        border:2px solid white ;
        top:300px;
        left:200px;
        width:200px;
        color:white;
        height:50px;
        font-size:20px;
    }
    .klm:hover
    {
        background-color:yellow;
        transition:all 0.2s ease-in;
    }

  </style>
        <div class="col-md-12">
            <a class="btn btn-block klm" href="login">Login</a>
            <img src="..\static\images\banner2.png" width="100%">
        </button>
<h1 align="center" class="mt-5">Welcome Student Fee Management </h1>
<br>
  <div class="container  mb-5 ">
    <div class="row g-4">

      <div class="col-md-6  col-lg-3">
        <div class="card shadow-sm h-100 border-start border-success border-2">
          <div class="card-body shadow  ">
            <h5 class="card-title">Student Fee Structure</h5>
            <p class="card-text">Details about tuition and course-wise fees for each program or year.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="card shadow-sm h-100 border-start border-warning border-2">
          <div class="card-body shadow">
            <h5 class="card-title">Payment History</h5>
            <p class="card-text">Shows previous fee payments with date, mode and transaction details.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="card shadow-sm h-100 border-start border-danger border-2">
          <div class="card-body shadow">
            <h5 class="card-title">Due Fee Alerts</h5>
            <p class="card-text">Notify students and admin about upcoming or overdue payments.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="card shadow-sm h-100 border-start border-primary border-2">
          <div class="card-body shadow">
            <h5 class="card-title">Receipt Generator</h5>
            <p class="card-text">Allows students to download their official payment receipts.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
  <h1 class="text-center mt-5 fw-bold text-danger">Benefits Of Our School & College ERP Software</h1>
  <p class="fs-6 text-center text-dark fw-bold">With its intuitive interface and robust features, you can effortlessly manage multiple schools, ensuring smooth operations and enhanced productivity.

</p>


  <div class="container  mb-5 mt-5">
    <div class="row gap-5 justify-content-center">
      <div class="col-md-3 nm1 border rounded  p-2">
            <h6 class="text-center fw-bold fs-5">Enhanced Insights & Reporting</h6>
            <p class="text-center">Access detailed analytics and generate comprehensive
            reports to identify areas of improvement and optimize
            academic performance. Navigate seamlessly through our visually
            appealing dashboard, ensuring an intuitive user experience
                  for administrators, teachers, and parents.</p>
      </div>
      <div class="col-md-3 border nm2 rounded  p-2">
        <h6 class="text-center  fw-bold fs-5">High End Application Security</h6>
          <p class="text-center">Ability to ensure the security of data
          through encryption, access controls and backup.
          The protection of ERP data is our top priority</p>
      </div>
      <div class="col-md-3 border nm3 rounded  p-2">
        <h6 class="text-center  fw-bold fs-5">Streamlined Administrative Task ty</h6>
             <p class="text-center"> Simplify key administrative tasks and
              facilitate efficient communication between
              all stakeholders, fostering a more connected community.
              Reduce paperwork and manual data entry, allowing staff to focus on core educational responsibilities
             </p>

      </div>
    </div>
  </div>
<hr align="center" style="margin-left:100px;width:85%">
<div class="container">
    <h2 class="text-success text-center fw-bold">Now collect fees via Google Pay, PhonePe, Paytm, Amazon Pay, BHIM <span style="color:blue;">... Know more</span></h2>
        <h3 class="text-center fw-bold">One-stop Online Fee Payment Solution</h3>
        <p class="text-center " style="color:grey;">The Fee Collection Software helps educational institutions collect any type of fees such as annual, examination, tuition, fine, etc., <br>       through online website or mobile app using debit/ credit/ netbanking from any Indian & International banks such as ICICI, SBI, Axis, Citibank and more.</p>
    <img src="../static/images/soft.png" width="1000">
</div>
<hr align="center" style="margin-left:100px;width:85%">

<div class="container">
 <h3 class="fw-bold"> Fee Management System </h3>
<p>Fee management is the most required features in coaching institute management software.
    It is important to have effective, automatic & time saving fee management system in coaching
    institute which make accounting very easily.</p>

    <p >Smart Classes software's fee management system is very effective which help coaching institute to
    setup students fees, discount, fee collection by manual or in installment, fee refund process &
    at a same time it also send auto fee reminder and notification to students or parents. This fee
    management system saves lot of time of coaching instututes. In one click users can get all required
        reports which help them to track and monitor their fee collection system effectively.</p>
</div>
    <div class="container mb-5 " style="margin-top:100px;">
        <div class="row gap-5 shadow p-3">
            <div class="col-md-5">
                <img src="../static/images/admin.jpg" class="w-100 shadow ">
            </div>
            <div class="col-md-5">
                <h4>Fee Management System's Features</h4>
                    Create Course Wise Fee Structures
                    Discount Management
                    Student's Fees Collection
                    Collect Fees Randomly Or Installment Wise
                    Fees Collection With Tax Or Without Tax
                    Fees Receipt Generation
                    Fees Refund Process
                    Auto Fees Due Reminder
            </div>
        </div>
    </div>
{% endblock %}